[Unit]
Description=Wagashi — install Broadcom firmware
Before=NetworkManager.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'cp /usr/share/wagashi/firmware/brcm/* /usr/lib/firmware/brcm/ && modprobe -r brcmfmac; modprobe brcmfmac'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
